
@import url('https://fonts.googleapis.com/css?family=Gupter&display=swap');

@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/tabs.css");
@import url("components/button.css")

body{
  background: #DBC7AE;
  color: blue;
  font-size: 30px;
  font-family: 'Gupter';
}
h1{
  font-family: 'Gupter';
  color: red;
  font-weight: lighter;
  font-size: 50px;
}
h2 {
  font-family: 'Gupter';
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: rgb(0,0,0);
}
a:hover {
  text-decoration: none;
  color: rgb(255,255,255);
}
